.gallery {
  padding: 20px;
  text-align: center;
  background-color: black;
}

.galleryContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.galleryItem {
  box-sizing: border-box;
}

.galleryImage {
  width: 200px;
  height: 200px;
  display: block;
  border-radius: 8px; /* Adicionando bordas arredondadas para um toque estético */
}

@media (max-width: 768px) {
  .galleryImage {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 480px) {
  .galleryImage {
    width: 100px;
    height: 100px;
  }
}
